#include "resources.h"

IDB_OVERVIEW_ICON_16 ICON "../resources/overview_icon_16.ico"
IDB_OVERVIEW_ICON_32 ICON "../resources/overview_icon_32.ico"

ROBOTO_REGULAR FONT "../resources/fonts/Roboto-Medium.ttf"
ROBOTO_BOLD FONT "../resources/fonts/Roboto-Bold.ttf"